[submodule "hyperplonk"]
	path = hyperveritas-audio/hyperplonk
	url = https://github.com/glgreiner/hyperplonk.git
[submodule "zk-float-compiler"]
	path = zk-float-compiler
	url = https://github.com/tinh0/zk-float-compiler.git
